{%extends 'Main.html'%}
{%block header%}
{%endblock%}
{%block includes%}
	<script type="text/javascript" src="{{STATIC_URL}}jquery/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}jquery/jquery-ui-1.8.16.custom.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery-ui-1.8.16.custom.css" />
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/styles_reportes.css" />
{%endblock%}
{%block contenido%}
{%load customfilters_reportes%}

	<script>
		$(document).ready(function() {	
            $("#selected_user").attr('hidden', 'hidden');
            $("#field_resultados").attr('hidden', 'hidden');
            $("#msj_users").attr('hidden', 'hidden');
			
            $("#code_selecteduser").val(-1);
         /*   
			var currentTime = new Date()
			var month = currentTime.getMonth() + 1
			var day = currentTime.getDate()
			var year = currentTime.getFullYear()
			//var today= year + "-" + month + "-" + day
            var today= day + "/" + month + "/" + year
		*/
            var today = '{{today}}'
			$("#tabs").tabs();
			$( "#datepicker1" ).datepicker({
				//dateFormat: 'yy-mm-dd',
                dateFormat: 'dd/mm/yy',
                //dateFormat: 'yy-dd-mm',
				 
			}).val(today);
			$( "#datepicker2" ).datepicker({ 
				//dateFormat: 'yy-mm-dd',
                dateFormat: 'dd/mm/yy',
                //dateFormat: 'yy-dd-mm',
			}).val(today);
			$( "#datepicker3" ).datepicker({ 
				//dateFormat: 'yy-mm-dd',
                dateFormat: 'dd/mm/yy',
                //dateFormat: 'yy-dd-mm',
			}).val(today);
			$( "#datepicker4" ).datepicker({ 
				//dateFormat: 'yy-mm-dd',
                dateFormat: 'dd/mm/yy',
                //dateFormat: 'yy-dd-mm',
			}).val(today);
            
			$( "#accordion" ).accordion({
				autoHeight: false,
				navigation: true,
				collapsible: true,
				active: false
				

			});
			$("#id_dep").change(function() {
				dep = $(this).val();
				$("#id_mun").empty();
				$("#id_mun").append("<option value='0' selected='selected'>Todos</option>");
				$("#id_centros").empty();
				$("#id_centros").append("<option value='0' selected='selected'>Todos</option>"); 
				if(dep != "Todos"){			
				$.ajax({
							type:"GET",
							data:
								{
									data:"muns",
									iddep:$(this).val()
								},
							url: "{% url url_bringmunicipio %}",
							success: function(msg){
										$.each(msg,function(key,val){
											$("#id_mun").append("<option value="+val.pk+">"+val.descripcion+"</option>");
						});
					}
				});
				}
			});
			$("#id_mun").change(function() {
				$("#id_centros").empty();
				$("#id_centros").append("<option value='0' selected='selected'>Todos</option>");
				$.ajax({
							type:"GET",
							data:
								{
									data:"centros",
									iddep : dep,
									idmun:$(this).val()
								},
							url: "{% url url_bringcentros %}",
							success: function(msg){
										$.each(msg,function(key,val){
											$("#id_centros").append("<option value="+val.pk+">"+val.descripcion+"</option>");
						});
					}
				});
			});
			$("#id_dep2").change(function() {
				dep = $(this).val();
				$("#id_mun2").empty();
				$("#id_mun2").append("<option value='0' selected='selected'>Todos</option>");
				$("#id_centros2").empty();
				$("#id_centros2").append("<option value='0' selected='selected'>Todos</option>"); 
				if(dep != "Todos"){			
				$.ajax({
							type:"GET",
							data:
								{
									data:"muns",
									iddep:$(this).val()
								},
							url: "{% url url_bringmunicipio %}",
							success: function(msg){
										$.each(msg,function(key,val){
											$("#id_mun2").append("<option value="+val.pk+">"+val.descripcion+"</option>");
						});
					}
				});
				}
			});
			$("#id_mun2").change(function() {
				$("#id_centros2").empty();
				$("#id_centros2").append("<option value='0' selected='selected'>Todos</option>");
				$.ajax({
							type:"GET",
							data:
								{
									data:"centros",
									iddep : dep,
									idmun:$(this).val()
								},
							url: "{% url url_bringcentros %}",
							success: function(msg){
										$.each(msg,function(key,val){
											$("#id_centros2").append("<option value="+val.pk+">"+val.descripcion+"</option>");
						});
					}
				});
			});
			$("#cbx_tipos").change(function() {
				tipo = $(this).val();
				$("#cbx_usuarios").empty();
				$("#id_usuaros").append("<option value='0' selected='selected'>Todos</option>");							
				$.ajax({
							type:"GET",
							data:
								{
									data:"tipo",
									tipo:tipo,
								},
							url: "{% url url_bringusuarios %}",
							success: function(msg){
										$.each(msg,function(key,val){
											$("#cbx_usuarios").append("<option value="+val.pk+">"+val.usuario+"</option>");
						});
					}
				});
			});
            
            $("#btn_buscarusers").click(function(){
                document.getElementById("id_tbody").innerHTML = "";
                $('#field_resultados').removeAttr('hidden');
                $("#selected_user").attr('hidden', 'hidden');
                $("#msj_users").attr('hidden', 'hidden');
                $.ajax({
                                type:"GET",
                                data:
                                    {
                                        data:"users",
                                        username:$("#tbx_nombusuario").val(),
                                        tipo:$("#cbx_tipo").val()
                                    },
                                url: "{% url url_bringusers %}",
                                success: function(msg){
                                if(msg != ""){
                                            $.each(msg,function(key,val){
                                                $("#id_tbody").append("<tr><td>"+val.pk+"</td><td>"+val.name+"</td><td>"+val.usuario+"</td><td><button onclick='UtilizarUsuario("+val.pk+")'; class='btn btn-small btn-inverse' type='button'>Seleccionar</button></td></tr>");
                            });
                            }
                            else{
                            $('#msj_users').removeAttr('hidden');
                            }
                        }
                    });
	});
    
    
   
		$("#logout_btn").click(function(){
			//location.href = '/transparencia/logout/'; 
			location.href = '{%url url_logout%}'; 
		});
		$("#principal_btn").click(function(){
			//location.href = '/transparencia/home/'; 
			location.href = '{%url url_home%}';
		});
		});
        
         function UtilizarUsuario(pk){
            
            $("#code_selecteduser").val(pk);
            $("#id_user_code").val(pk);
            //$("#name_selecteduser").val({{ variable|getname }});
            
            $('#selected_user').removeAttr('hidden');
        };
    
        
	</script>
	<div id="tabs">
		<ul>
			<li><a href="#tabs-1">Generación de Reportes</a></li>
		</ul>
		<div id="tabs-1">
            {%if err%}
					<div class="alert alert-error">
						<h6>{{err}}</h6>
					</div>
			{%endif%}
			<fieldset>
			<legend>Filtros de Reporte</legend>
			<div id="accordion">
				<h3><a href="#">Reportes Estadísticos</a></h3>
					<div>
						<form id = "form:_estadisticos" method = "POST" action = "{%url url_reportestadistico%}">{% csrf_token %}
							<fieldset>
							<legend>Seleccione Criterios para Encuestas</legend>
							<fieldset>
							<legend>Rango de Fecha</legend>
								<table>
									<tr>
										<td><label>Entre:</label></td>
										<td><input id="datepicker1" type="text" name="tbx_fecha1"></td>
									</tr>
									<tr>
										<td><label>y:</label></td>
										<td><input id="datepicker2" type="text" name="tbx_fecha2"></td>
									</tr>
								</table>
							</fieldset>
							<br>
							<fieldset>
                            <legend>Filtro de búsqueda</legend>
                                    <table>
                                        <tr>
                                            <td><label>Tipo de Usuario:</label></td><td><select name="cbx_tipousuario" id="cbx_tipo">
                                                                                            <option selected="selected">Todos</option>
                                                                                            {%for t in tipos%}
                                                                                                <option value="{{t.pk}}"> {{t.nombre}} </option>
                                                                                            {%endfor%}
                                                                                        </select></td>
                                        </tr>
                                        <tr>
                                            <td><label>Usuario:</label></td><td><input type="input" id = "tbx_nombusuario"></td>
                                            <td><button id="btn_buscarusers" class="btn" type="button">Buscar</button></td>
                                        </tr>
                                    </table>
                            </fieldset>
                            <fieldset id="field_resultados">
                            <input type="hidden" id="id_user_code" name="user_code">
                            <legend><h6>Resultados de Búsqueda</h6></legend>
                            <div class="alert alert-error" id="msj_users">
                                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                                  <h4>Atención</h4>
                                  No se encontraron usuarios
                            </div>
                                <table id="table_users" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Código</th><th>Nombre</th><th>Usuario</th>
                                        </tr>
                                    </thead>
                                    <tbody id="id_tbody">
                                    
                                    </tbody>
                                </table>
                            </fieldset>
                            <div id="selected_user">
                                    <form class="form-inline">
                                        <label>Usuario Seleccionado:</label>
                                        <input type="text" class="span1" id="code_selecteduser" name="name_codeselecteduser">
                                        <!--<input type="text" class="span3" id="name_selecteduser">-->                                        
                                    </form>
                            </div>
							<br>
							<fieldset>
							<legend>Filtro Geográfico</legend>
								<table>
									<tr>
										<td><label>Departamento:</label></td>
										<td><select name="cbx_dep" id="id_dep">
												<option>Todos</option>
												{%for d in deps%}
													<option value="{{d.pk}}"> {{d.nombre}} </option>
												{%endfor%}
											</select>
										</td>
									</tr>
									<tr>
										<td><label>Municipio:</label></td>
										<td><select name="cbx_mun" id="id_mun">
												<option>Todos</option>
											</select>
										</td>
									</tr>
									<tr>
										<td><label>Centro:</label></td>
										<td><select name="cbx_centro" id="id_centros">
												<option>Todos</option>
											</select>
										</td>
									</tr>
								</table>
							</fieldset>
							<!--<fieldset>
							<legend>Segmentos de Encuesta a Visualizar</legend>
								<table>
									<tr><td><input type="checkbox" name = "check_seg" checked = "checked">Segmento A</td></tr>
									<tr><td><input type="checkbox" name = "check_seg" checked = "checked">Segmento B</td></tr>
									<tr><td><input type="checkbox" name = "check_seg" checked = "checked">Segmento C</td></tr>
									<tr><td><input type="checkbox" name = "check_seg" checked = "checked">Segmento D</td></tr>
									<tr><td><input type="checkbox" name = "check_seg" checked = "checked">Segmento E</td></tr>
									<tr><td><input type="checkbox" name = "check_seg" checked = "checked">Segmento F</td></tr>
									<tr><td><input type="checkbox" name = "check_seg" checked = "checked">Segmento G</td></tr>
								</table>
							</fieldset>-->
						<br>
						
                        <button class="btn">Generar Reporte</button>
						</fieldset>
						</form>
					</div>
				<h3><a href="#">Reportes Comparativos</a></h3>
					<div>
					<form id = "form_comparativo" method = "POST" action = "{%url url_reportecomparativo%}">{% csrf_token %}
						<fieldset>
						<legend>Seleccione el Centro Educativo</legend>
							<fieldset>
							<legend>Rango de Fecha</legend>
								<table>
									<tr>
										<td><label>Entre:</label></td>
										<td><input id="datepicker3" type="text" name="tbx_fecha1"></td>
									</tr>
									<tr>
										<td><label>y:</label></td>
										<td><input id="datepicker4" type="text" name="tbx_fecha2"></td>
									</tr>
								</table>
							</fieldset>
						<br>
						<fieldset>
							<legend>Filtro Geográfico</legend>
								<table>
									<tr>
										<td><label>Departamento:</label></td>
										<td><select name="cbx_dep" id="id_dep2">
												<option>Todos</option>
												{%for d in deps%}
													<option value="{{d.pk}}"> {{d.nombre}} </option>
												{%endfor%}
											</select>
										</td>
									</tr>
									<tr>
										<td><label>Municipio:</label></td>
										<td><select name="cbx_mun" id="id_mun2">
												<option>Todos</option>
											</select>
										</td>
									</tr>
									<tr>
										<td><label>Centro:</label></td>
										<td><select name="cbx_centro" id="id_centros2">
												<option>Todos</option>
											</select>
										</td>
									</tr>
								</table>
							</fieldset>
							<br>	
                        <button class="btn">Generar Reporte</button>
			</form>
			</fieldset>
			</div>
            <h3><a href="#">Exportación</a></h3>
                <div>
                        <h3>Datos de Usuario</h3>
                        <fieldset>
                        <legend>Tabla Usuarios
                        <form id="form_exportar" method = "POST" action = "{%url url_reporteexportar 'Usuarios'%}">{% csrf_token %}
                        <button class="btn" type="submit">Exportar</button>
                        </form>
                        </legend>
                        </fieldset>
                        <fieldset>
                        <legend>Tabla Tipo Usuario
                        <form id="form_exportar" method = "POST" action = "{%url url_reporteexportar 'Tipos'%}">{% csrf_token %}
                        <button class="btn" type="submit">Exportar</button>
                        </form>
                        </legend>
                        </fieldset>
                        <fieldset>
                        <legend>Tabla Tipo Roles de Usuario
                        <form id="form_exportar" method = "POST" action = "{%url url_reporteexportar 'Roles'%}">{% csrf_token %}
                        <button class="btn" type="submit">Exportar</button>
                        </form>
                        </legend>
                        </fieldset>
                        
                        <legend></legend>
                        <h3>Datos Regionales</h3>
                        <fieldset>
                        <legend>Tabla Departamentos
                        <form id="form_exportar" method = "POST" action = "{%url url_reporteexportar 'Departamentos'%}">{% csrf_token %}
                        <button class="btn" type="submit">Exportar</button>
                        </form>
                        </legend>
                        </fieldset>
                        <fieldset>
                        <legend>Tabla Municipios
                        <form id="form_exportar" method = "POST" action = "{%url url_reporteexportar 'Municipios'%}">{% csrf_token %}
                        <button class="btn" type="submit">Exportar</button>
                        </form>
                        </legend>
                        </fieldset>
                        <fieldset>
                        <legend>ETabla Centros Educativos
                        <form id="form_exportar" method = "POST" action = "{%url url_reporteexportar 'Centros'%}">{% csrf_token %}
                        <button class="btn" type="submit">Exportar</button>
                        </form>
                        </legend>
                        </fieldset>
                        
                        <legend></legend>
                        <h3>Segmentos de Encuesta</h3>
                        <fieldset>
                        <legend>Tabla SegmentoA
                        <form id="form_exportar" method = "POST" action = "{%url url_reporteexportar 'SegmentoA'%}">{% csrf_token %}
                        <button class="btn" type="submit">Exportar</button>
                        </form>
                        </legend>
                        </fieldset>
                        <fieldset>
                        <legend>Tabla SegmentoB
                        <form id="form_exportar" method = "POST" action = "{%url url_reporteexportar 'SegmentoB'%}">{% csrf_token %}
                        <button class="btn" type="submit">Exportar</button>
                        </form>
                        </legend>
                        </fieldset>
                        <fieldset>
                        <legend>Tabla SegmentoC
                        <form id="form_exportar" method = "POST" action = "{%url url_reporteexportar 'SegmentoC'%}">{% csrf_token %}
                        <button class="btn" type="submit">Exportar</button>
                        </form>
                        </legend>
                        </fieldset>
                        <fieldset>
                        <legend>Tabla SegmentoD
                        <form id="form_exportar" method = "POST" action = "{%url url_reporteexportar 'SegmentoD'%}">{% csrf_token %}
                        <button class="btn" type="submit">Exportar</button>
                        </form>
                        </fieldset>
                        </legend>
                        <fieldset>
                        <legend>Tabla SegmentoE
                        <form id="form_exportar" method = "POST" action = "{%url url_reporteexportar 'SegmentoE'%}">{% csrf_token %}
                        <button class="btn" type="submit">Exportar</button>
                        </form>
                        </legend>
                        </fieldset>
                        <fieldset>
                        <legend>Tabla SegmentoF
                        <form id="form_exportar" method = "POST" action = "{%url url_reporteexportar 'SegmentoF'%}">{% csrf_token %}
                        <button class="btn" type="submit">Exportar</button>
                        </form>
                        </legend>
                        </fieldset>
                        <fieldset>
                        <legend>Tabla SegmentoG
                        <form id="form_exportar" method = "POST" action = "{%url url_reporteexportar 'SegmentoG'%}">{% csrf_token %}
                        <button class="btn" type="submit">Exportar</button>
                        </form>
                        </legend>
                        </fieldset>
                        
                        <legend></legend>
                        <h3>Datos de Encuestas</h3>
                        <fieldset>
                        <legend>Tabla Encuesta Temporal
                        <form id="form_exportar" method = "POST" action = "{%url url_reporteexportar 'EncuestaTemp'%}">{% csrf_token %}
                        <button class="btn" type="submit">Exportar</button>
                        </form>
                        </legend>
                        </fieldset>
                        <fieldset>
                        <legend>Tabla Datos Encuesta Temporal
                        <form id="form_exportar" method = "POST" action = "{%url url_reporteexportar 'EncuestaTempData'%}">{% csrf_token %}
                        <button class="btn" type="submit">Exportar</button>
                        </form>
                        </legend>
                        </fieldset>
                        <fieldset>
                        <legend>Tabla Listado Docentes Temporal
                        <form id="form_exportar" method = "POST" action = "{%url url_reporteexportar 'ListadoDocentesTemp'%}">{% csrf_token %}
                        <button class="btn" type="submit">Exportar</button>
                        </form>
                        </legend>
                        </fieldset>
                        <fieldset>
                        <legend>Tabla Encuesta Publicada
                        <form id="form_exportar" method = "POST" action = "{%url url_reporteexportar 'Encuesta'%}">{% csrf_token %}
                        <button class="btn" type="submit">Exportar</button>
                        </form>
                        </legend>
                        </fieldset>
                        <fieldset>
                        <legend>Tabla Datos Encuesta Publicada
                        <form id="form_exportar" method = "POST" action = "{%url url_reporteexportar 'EncuestaData'%}">{% csrf_token %}
                        <button class="btn" type="submit">Exportar</button>
                        </form>
                        </legend>
                        </fieldset>
                        <fieldset>
                        <legend>Tabla Listado Docentes Publicada
                        <form id="form_exportar" method = "POST" action = "{%url url_reporteexportar 'ListadoDocentes'%}">{% csrf_token %}
                        <button class="btn" type="submit">Exportar</button>
                        </form>
                        </legend>
                        </fieldset>
                </div>	            
		</div>
	</div>
  </div>
{%endblock%}