{%extends 'Main.html'%}
{%block header%}

{%endblock%}
{%block includes%}
	<script type="text/javascript" src="{{STATIC_URL}}static_resources/jquery/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}static_resources/jquery/jquery-ui-1.8.16.custom.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}resources_css/jquery-ui-1.8.16.custom.css" />
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}resources_css/styles_reportes.css" />
	
{%endblock%}
{%block contenido%}
	<script type="text/javascript">
		$(document).ready(function() {	
			$( "#tabs" ).tabs();
		});
	</script>
	<div id="tabs">
		<ul>
			<li><a href="#tabs-1">Resultados</a></li>

		</ul>
		<div id="tabs-1">				
		<fieldset>
		<legend>Directores Distritales</legend>
			<table>
				{%for e in enc_dd%}
					<tr><td><strong><a href='{%url url_publicadas e.codigo%}'> Encuesta {{e.codigo}} , fecha de creacion {{e.fecha_apertura}}</a></strong></td></tr>
				{%endfor%}
			</table>
		</fieldset>
		<br>
		<fieldset>
		<legend>Sociedad Civil</legend>
			<table>
				{%for e in enc_sc%}
					<tr><td><strong><a href='{%url url_publicadas e.codigo%}'> Encuesta {{e.codigo}} , fecha de creacion {{e.fecha_apertura}}</a></strong></td></tr>
				{%endfor%}
			</table>
		</fieldset>
		<br>
		<fieldset>
		<legend>Unidad de Transparencia</legend>
			<table>
				{%for e in enc_ut%}
					<tr><td><strong><a href='{%url url_publicadas e.codigo%}'> Encuesta {{e.codigo}} , fecha de creacion {{e.fecha_apertura}}</a></strong></td></tr>
				{%endfor%}
			</table>
		</fieldset>
		</table>


	</div>
</div>

{%endblock%}