td
{
   border-bottom:thin solid silver;
   border-top:none;
   border-right:none;
   border-left:none;
}
fieldset
{
  border:3px solid silver;
  position:relative;
}
legend 
{
  padding: 0.2em 0.5em;
  border:5px solid silver;
  'color:blue;
  font-size:90%;
  font-weight:bold;
  text-align:right;
 }
table 
{
  width: 100%;
}
#tb_header
{
	text-align:center;
}
#tb_parteB01 td, #tb_parteB02 td, #tb_basico td, #tb_parteF01 td , #tb_parteF02 td, #tb_header td
{
  border-bottom:none;
}
#tb_parteB02 input
{
  width:90%;
}
#tb_parteF02 input
{
  width:79%;
}
#topbar_btns , #footbar_btns
{
  float: right;
}
#tb_basico
{
  width: 40%;
  float:right;
}
#topbar, #footbar
{
  border-style:none;
}

.instruccion
{
  display:block;
  float:right;
  right:0;
  width:800px;
  background:#eee;
  border:1px solid #ddd;
  
}
.instruccion2
{
  display:block;
  width:100%;
  background:#eee;
  border:1px solid #ddd;
}
.right_align
{
   text-align:right;
}





