#centro
{
    border-style: solid;
    border-width: medium;

}
#parteA
{
    border-style: solid;
    border-width: medium;

}
#parteB
{
    border-style: solid;
    border-width: medium;

}
#parteC
{
    border-style: solid;
    border-width: medium;

}
#parteD
{
    border-style: solid;
    border-width: medium;

}
#parteE
{
    border-style: solid;
    border-width: medium;

}
#parteF
{
    border-style: solid;
    border-width: medium;

}
#parteG
{
    border-style: solid;
    border-width: medium;

}
