{%extends 'Main.html'%}
{%block header%}
	<h1>
		<table id="tb_header">
			<tr><td><label id="title01">SECRETARÍA DE EDUCACIÓN DE HONDURAS</label></td></tr>
			<tr><td><label id="title02">UNIDAD DE TRANSPARENCIA</label></td></tr>
			<tr><td><label id="title03">FICHA PARA VERIFICACIÓN DE MURALES DE TRANSPARENCIA</label><td></tr>
		</table>
	</h1>
{%endblock%}
{%block includes%}
	<script type="text/javascript" src="{{STATIC_URL}}static_resources/jquery/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}static_resources/jquery/jquery-ui-1.8.16.custom.min.js"></script>
	
	<!--<script type="text/javascript" src="{{STATIC_URL}}static_resources/jquery/jquery.js"></script>-->
	<script type="text/javascript" src="{{STATIC_URL}}static_resources/jquery/jquery.validate.js"></script>

	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}resources_css/jquery-ui-1.8.16.custom.css" />
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}resources_css/styles_encuesta.css" />
	
{%endblock%}
{%block contenido%}
	<script language="javascript">
		$(document).ready(function() {
		
			var selectedTabIndex = null;
			var validated = false;
			var valorE1 = 0 ;
			var dep=0;
			
			$( "#tabs" ).tabs({
			    select: function(event, ui) {
					selectedTabIndex = ui.index;
					var form_2_val = "null";
					if (selectedTabIndex == 0 ) form_2_val = "pg2";
					if (selectedTabIndex == 1 ) form_2_val = "pg1";
					
					switch(form_2_val){
						case "pg1" :
									validate_style(form_2_val,"temporal")
									break
						case "pg2" :
									validate_style(form_2_val,"temporal")
									break
					}
					f = "#" + form_2_val;
					validated = $(f).valid();
					/*if(validated == true && form_2_val == "pg2"){

						var d2 = document.getElementsByName("tbxD_2").value;
						var d3 = document.getElementsByName("tbxD_3").value;
						valorE1 = d2+d3;
						alert(valorE1);
					}*/
					return validated;
    			}
			});
			
		
			function validate_style(form,type){
				try{
					switch(form){
						case "pg1":
									if(type=="temporal"){
										$.validator.addMethod("Numeric_tbxs", $.validator.methods.number, "Ingrese elementos numéricos");
										$.validator.addClassRules("number_inputs", { Numeric_tbxs: true});
										$("#pg1").validate({
											onsubmit: false,
											rules: {
												tbxD_ : {
															number : true
														 }
											},
											messages :{	}
										});
									}
									else {
											$("#pg1").validate({
												onsubmit: false,
												rules: {
													tbx_fecha : "required",
													cbx_centros : "required",
													
												},
												messages :{	}
											});							
									}
									break
						case "pg2":
									if(type=="temporal"){
										$.validator.addMethod("Numeric_tbxs2", $.validator.methods.number, "Ingrese elementos numéricos");
										$.validator.addClassRules("inputs_parteE", { Numeric_tbxs2: true});
										$("#pg2").validate({
											onsubmit: false,
											rules: {
												tbxE_ : {
															number : true
														 }
											},
											messages :{	}				
										});
									}
									break								
					}
				}
				catch(err){
					alert(err);
				}
			};
			$("#btn_Publish").click(function(){
				if(confirm("¿Está seguro que desea cerrar la encuesta y guardar sus datos permanentemente?")){
					validate_style("pg1","final");
					if($("#pg1").valid()) $("#pg1").submit();
					validate_style("pg2","final");
					if($("#pg2").valid()) $("#pg2").submit();		
				}
			});
			$( "#datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });
			$("#id_dep").change(function() {
				dep = $(this).val();
				$("#id_mun").empty();
				$("#id_centros").empty();
				$.ajax({
							type:"GET",
							data:
								{
									data:"muns",
									iddep:$(this).val()
								},
							url: "{% url url_bringmunicipio %}",
							success: function(msg){
										$.each(msg,function(key,val){
											$("#id_mun").append("<option value="+val.pk+">"+val.descripcion+"</option>");
						});
					}
				});
			});
			$("#id_mun").change(function() {
				$("#id_centros").empty();
				$("#id_centros").append("<option value='0'>---------</option>");
				$.ajax({
							type:"GET",
							data:
								{
									data:"centros",
									iddep : dep,
									idmun:$(this).val()
								},
							url: "{% url url_bringcentros %}",
							success: function(msg){
										$.each(msg,function(key,val){
											$("#id_centros").append("<option value="+val.pk+">"+val.descripcion+"</option>");
						});
					}
				});
			});
			$("#id_centros").change(function(){
				$("#id_codigocentro").empty();
				$("#id_tipocentro").empty();
				$.ajax({
							type:"GET",
							data:
								{
									data : "infodecentro",
									idcentro:$(this).val()
								},
							url: "{% url url_bringcentroinfo %}",
							success: function(lista){
								
									$("#id_codigocentro").val(lista[0]);
									$("#id_tipocentro").val(lista[1]);
							}
				});
			});
			$("#btnSave").click(function(){
				try{
					if(selectedTabIndex == 0 ){
						validate_style("pg1","temporal");
						if($("#pg1").valid()) {
							validate_style("pg2","temporal");
							if($("#pg2").valid()) {
								$("#pg1").submit();
								$("#pg2").submit();
							}
						}
					}
					else {
						validate_style("pg2","temporal");
						if($("#pg2").valid()) {
							validate_style("pg1","temporal");
							if($("#pg1").valid()) {
								$("#pg2").submit();
								$("#pg1").submit();
							}
						}
					}
				}
				catch(err){
					alert(err);
				}				
			});
			$("#cbxF_3").click(function(){
				document.getElementById("cbxF_4").checked = false;
			});
			$("#cbxF_4").click(function(){
				document.getElementById("cbxF_3").checked = false;
			});
			$("#cbxF_5").click(function(){
				if(document.getElementById("cbxF_2").checked == true || document.getElementById("cbxF_4").checked == true){
					document.getElementById("cbxF_5").checked = false;
					}
			});
		});
	</script>
	
	
	
		<div id="tabs">
			<label>Usuario: {{usuario}}</label>
			<ul>
				<li><a href="#tabs-2">Página 1</a></li>
				<li><a href="#tabs-3">Página 2</a></li>		
			</ul>
			<fieldset id="topbar">
				<div id="topbar_btns">
					<input type="image" src="{{STATIC_URL}}resources_icons/Save.ico" id="btnSave">
					<input type="image" src="{{STATIC_URL}}resources_icons/Accept.ico" id="btn_Publish" >
				</div>
			</fieldset>
			<div id="tabs-2">
			<form id="pg1" method='post' action={%url url_save "pg1",codigo_enc%} class="val_form">{% csrf_token %}
				<fieldset id="basico">
					<table id="tb_basico">
						<tr>
							<td><label class="lbl_basico">Código Usuario:</label></td>
							<td><input type="text" name="tbx_codigo"  value="{{id_usuario}}" disabled="disabled"></td>
						</tr>
						<tr>
							<td><label class="lbl_basico">Fecha:</label></td>
							<td><input id="datepicker" type="text" name="tbx_fecha"></td>
						</tr>
					</table>
				</fieldset>
				<br>
				<fieldset id="centro">
				<legend>Centro Educativo</legend>
					<div class="instruccion">
						<label>Seleccione el centro educativo</label>
					</div>
					<br>
					<table>
						<tr>
							<td><label class="lbl_centro">Departamento:</label></td>
							<td class="right_align"><select name="cbx_dep" id="id_dep">
				                	{%for d in deps%}
										<option value="{{d.pk}}"> {{d.nombre}} </option>
									{%endfor%}
								</select>
							</td>
						</tr>
						<tr>
							<td><label class="lbl_centro">Municipio:</label></td>
							<td class="right_align"><select name="cbx_mun" id="id_mun"></select></td>
						</tr>
						<tr>
							<td><label class="lbl_centro">Centro Educativo:</label></td>
							<td class="right_align"><select name="cbx_centros" id="id_centros"></select></td>
						</tr>
						<tr>
							<td><label class="lbl_centro">Código Centro:</label></td>
							<td class="right_align"><input type="text" name="tbx_idcentro" id="id_codigocentro" disabled = "disabled"></ td>
						</tr>
						<tr>
							<td><label class="lbl_centro">Tipo de Centro:</label></td>
							<td class="right_align"><input type="text" name="tbx_tipocentro" id="id_tipocentro" disabled = "disabled"></td>
						</tr>
						<tr>
							<td><label class="lbl_centro">Zona:</label></td>
							<td class="right_align"><select name="cbx_zonacentro" id="">
									<option> Rural </option>
									<option> Urbano </option>
								</select>
							</td>
						</tr>
						<tr>
							<td><label class="lbl_centro">Contacto Telefónico:</label></td>
							<td class="right_align"><input type="text" name="tbx_tel1" id="id_tel1" class ="number_inputs"></td>
						</tr>
						<!--<tr>
							<td><label class="lbl_centro">Contacto Telefónico:</label></td>
							<td class="right_align"><input type="text" name="tbx_tel2" id="id_tel2" class ="number_inputs"></td>
						</tr>-->
					</table>
				</fieldset>
				<br>
				<fieldset id="parteA">
				<legend>A. Instalación y ubicación del mural</legend>
					<div class="instruccion">
						<label>Seleccione una opción</label>
					</div>
					<br>
					<table>
						<tr>
							<td><label class="lbl_A">Instalación y Ubicación:</label></td>
							<td class="right_align"><select name="cbx_parteA" id="valueA">
									{%for a in infoA%}
										<option> {{a.descripcion}} </option>
									{%endfor%}
								</select>
							</td>
						</tr>
					</table>
				</fieldset>
				<br>			
				<fieldset id="parteB">
				<legend>B. Información obligatoria publicada en el mural</legend>
					<div class="instruccion">
						<label>Puede elegir varias opciones y escribir hasta 4 tipos de información extra</label>
					</div>
					<br>
					<table id="tb_parteB01">
						{%for b in infoB%}
							<tr><td><input type="checkbox" name="cbxB" value= {{b.codigo}} />{{b.descripcion}}</td></tr>
						{%endfor%}
					</table>
					<br>			
					<div class="instruccion2">
						<label>Resuma lo mejor posible y revise su ortografía</label>
						<label>Ejemplos de otra información: Merienda escolar, ingreso por cafeterias, ingreso por parqueo y otra información financiera.</label>
					</div>
					<br>
					<table id="tb_parteB02">
						<tr>
							<td><label>Otra Información:</label>
							<input type="text" name="tbx_oi" maxlength="150"></td>
						</tr>
						<tr>
							<td><label>Otra Información:</label>
							<input type="text" name="tbx_oi" maxlength="150"></td>
						</tr>
						<tr>
							<td><label>Otra Información:</label>
							<input type="text" name="tbx_oi" maxlength="150"></td>
						</tr>
						<tr>
							<td><label>Otra Información:</label>
							<input type="text" name="tbx_oi" maxlength="150"></td>
						</tr>
					</table>
				</fieldset>
				<br>
				<fieldset id="parteC">
				<legend>C. Orden de la información</legend>
					<div class="instruccion">
						<label>Para cada casilla, seleccione SI o NO</label>
					</div>
					<br>
					<table>
						{%for c in infoC%}
							<tr>
								<td><label>{{c.descripcion}}</label></td>
								<td class="right_align"><select name="selC_{{c.codigo}}">
										<option>SI</option>
										<option>NO</option>
									</select>
								</td>
							</tr>
						{%endfor%}
					</table>
				</fieldset>
				<br>
				<fieldset id="parteD">
				<legend>D. Cantidades totales de docentes</legend>
					<div class="instruccion">
						<label>Solo colocar números en cada casilla</label>
					</div>
					<br>
					<table>
						{%for d in infoD%}
							<tr>
								<td><label>{{d.descripcion}}</label></td>
								<td class="right_align"><input type="number" name="tbxD_{{d.codigo}}" class="number_inputs"></td>
								<td class="status"></td>
							</tr>
						{%endfor%}
					</table>
				</fieldset>			
			</form>
			</div>
			<div id="tabs-3">
			<form id="pg2" method='post' action={%url url_save "pg2",codigo_enc%} class="val_form">{% csrf_token %}
				<fieldset id="parteE">
				<legend>E. Hallazgos e Irregularidades en LISTAS</legend>
					<div class="instruccion">
						<label>Solo colocar números en cada casilla</label>
					</div>
					<br>
					<table>
						{%for e in infoE%}
							<tr>
								<td><label>{{e.descripcion}}</label></td>
								<td class="right_align"><input type="number"  name="tbxE_{{e.codigo}}" class="inputs_parteE"></td>
							</tr>
						{%endfor%}
					</table>
				</fieldset>
				<br>
				<fieldset id="parteF">
				<legend>F. Hallazgos e irregularidades en MATRICULA GRATIS</legend>
					<div class="instruccion">
						<label>Seleccione la opción y si es necesario, digitar hasta otras tres irregularidades más</label>
					</div>
					<br>
					<table id="tb_parteF01">
						{%for f in infoF%}
							<tr><td>F{{f.codigo}}._<input type="checkbox" id="cbxF_{{f.codigo}}" name="cbxF" value= {{f.codigo}} />{{f.descripcion}}</td></tr>
						{%endfor%}
					</table>
					<br>
					<div class="instruccion2">
						<label>Resumir la irregularidad lo mejor posible</label>
					</div>
					<br>
					<table id="tb_parteF02">
						<tr>
							<td><label>Otra irregularidad de Matrícula Gratis:</label>
							<input type="text" name="tbx_oi2" maxlength="100"></td>
						</tr>
						<tr>
							<td><label>Otra irregularidad de Matrícula Gratis:</label>
							<input type="text" name="tbx_oi2" maxlength="100"></td>
						</tr>
						<tr>
							<td><label>Otra irregularidad de Matrícula Gratis:</label>
							<input type="text" name="tbx_oi2" maxlength="100"></td>
						</tr>
					</table>
				</fieldset>
				<br>
				<fieldset id="parteG">
				<legend>G. Creatividad (colores, materiales autóctonos, decorado)</legend>
					<div class="instruccion">
						<label>Seleccione una opción</label>
					</div>
					<br>
					<table>
						{%for g in infoG%}
							<tr>
							<td><label>{{g.descripcion}}</label></td>
							<td class="right_align"><select name="selG_{{g.codigo}}">
									<option> Excelente</option>
									<option> Muy Bueno</option>
									<option> Bueno</option>
									<option> Regular</option>
									<option> Malo </option>
								</select></br>
							</td>
						{%endfor%}
					</table>
				</fieldset>
			</form>
			
			</div>
			<fieldset id="footbar">
				<div id="footbar_btns">
					<input type="image" src="{{STATIC_URL}}resources_icons/back.ico" id="btnBack">
					<input type="image" src="{{STATIC_URL}}resources_icons/forward.ico" id="btnFwd">
				</div>
			</fieldset>
		</div>
{%endblock%}