{%extends 'Main.html'%}
{%block header%}
	
{%endblock%}
{%block includes%}
	<script type="text/javascript" src="{{STATIC_URL}}static_resources/jquery/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}static_resources/jquery/jquery-ui-1.8.16.custom.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}resources_css/jquery-ui-1.8.16.custom.css" />
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}resources_css/styles_main.css" />
{%endblock%}
{%block contenido%}
<meta charset="utf-8">
	<script>
		$(document).ready(function() {
			var rol_usuario = "{{rol_usuario}}";
			if(rol_usuario == "Digitador"){
				$("#tabs").tabs({ disabled: [1] });
			}
			$("#tabs_principal").tabs();
			$("#tabs").tabs().addClass('ui-tabs-vertical ui-helper-clearfix');
			$("#tabs li").removeClass('ui-corner-top').addClass('ui-corner-left');
			$( "#accordion" ).accordion({
				autoHeight: false,
				navigation: true

			});
			$( "#sub_accordion1" ).accordion({
				autoHeight: false,
				navigation: true

			});
			$( "#sub_accordion2" ).accordion({
				autoHeight: false,
				navigation: true

			});
			$("#btn_GoUsuarios").click(function(){
				$.ajax({
						url: "{% url url_usuarios %}",
				});			
			});
		});
	</script>
	<div id="tabs_principal">
		<label id="lbl_user">Bienvenido {{usuario}}</label>
		<ul>
			<li><a href="#tabs1">Home</a></li>
		</ul>
		<div id="tabs1">
			<div id="content">
				<section id='menu'>
					<div id="tabs">
						<ul>
							<li><a href="#tabs-1">Encuestas</a></li>
							<li><a href="#tabs-2">Administración</a></li>
							<li><a href="#tabs-3">Reportes</a></li>		
						</ul>
						<div id="tabs-1">
							<fieldset>
							<legend>Encuestas Pendientes</legend>
								<table>
									<tr><td><strong><a href="{%url url_encuesta "nueva"%}"> Nueva Encuesta </a></strong></td></tr>
									{%for e in encuestas%}
										<tr><td><strong><a href="{%url url_encuesta e.codigo%}"> Encuesta {{e.codigo}} , fecha de creación {{e.fecha_apertura}} </a></strong></td></tr>
									{%endfor%}
								</table>
							</fieldset>
						</div>
						<div id="tabs-2">
									<div id="accordion">
										<h3><a href="#">Administración de Usuarios</a></h3>
										<div>
											<table>
												<tr>
													<td><label>Gestión Administrativa de Usuarios</label></td>
													<td><input type="image" src="{{STATIC_URL}}resources_icons/Login-in.ico" id="btn_GoUsuarios"></td>
												</tr>
											</table>
										</div>
										<h3><a href="#">Administración de Tipos de Usuarios</a></h3>
										<div>
											<table>
												<tr>
													<td><label>Gestión Administrativa de Tipos de Usuarios</label></td>
													<td><input type="image" src="{{STATIC_URL}}resources_icons/Login-in.ico" id="btn_GoTipos"></td>
												</tr>
											</table>											
										</div>
										<h3><a href="#">Administración de Roles</a></h3>
										<div>
											<table>
												<tr>
													<td><label>Gestión Administrativa de Roles de Usuarios</label></td>
													<td><input type="image" src="{{STATIC_URL}}resources_icons/Login-in.ico" id="btn_GoRoles"></td>
												</tr>
											</table>											
										</div>
										<h3><a href="#">Administración de Segmentos de Encuesta</a></h3>
										<div>
											<div id = "sub_accordion1">
												<h3><a href="#">Segmento A</a></h3>
												<div>
													<table>
														<tr>
															<td><label>Gestión Administrativa Segmento A de Encuesta</label></td>
															<td><input type="image" src="{{STATIC_URL}}resources_icons/Login-in.ico" id="btn_GoSegA"></td>
														</tr>
													</table>														
												</div>
												<h3><a href="#">Segmento B</a></h3>
												<div>
													<table>
														<tr>
															<td><label>Gestión Administrativa Segmento B de Encuesta</label></td>
															<td><input type="image" src="{{STATIC_URL}}resources_icons/Login-in.ico" id="btn_GoSegB"></td>
														</tr>
													</table>													
												</div>
												<h3><a href="#">Segmento C</a></h3>
												<div>
													<table>
														<tr>
															<td><label>Gestión Administrativa Segmento C de Encuesta</label></td>
															<td><input type="image" src="{{STATIC_URL}}resources_icons/Login-in.ico" id="btn_GoSegC"></td>
														</tr>
													</table>													
												</div>
												<h3><a href="#">Segmento D</a></h3>
												<div>
													<table>
														<tr>
															<td><label>Gestión Administrativa Segmento D de Encuesta</label></td>
															<td><input type="image" src="{{STATIC_URL}}resources_icons/Login-in.ico" id="btn_GoSegD"></td>
														</tr>
													</table>													
												</div>
												<h3><a href="#">Segmento E</a></h3>
												<div>
													<table>
														<tr>
															<td><label>Gestión Administrativa Segmento E de Encuesta</label></td>
															<td><input type="image" src="{{STATIC_URL}}resources_icons/Login-in.ico" id="btn_GoSegE"></td>
														</tr>
													</table>													
												</div>
												<h3><a href="#">Segmento F</a></h3>
												<div>
													<table>
														<tr>
															<td><label>Gestión Administrativa Segmento F de Encuesta</label></td>
															<td><input type="image" src="{{STATIC_URL}}resources_icons/Login-in.ico" id="btn_GoSegF"></td>
														</tr>
													</table>													
												</div>
												<h3><a href="#">Segmento G</a></h3>
												<div>
													<table>
														<tr>
															<td><label>Gestión Administrativa Segmento G de Encuesta</label></td>
															<td><input type="image" src="{{STATIC_URL}}resources_icons/Login-in.ico" id="btn_GoSegG"></td>
														</tr>
													</table>													
												</div>									
											</div>
										</div>
										<h3><a href="#">Visualización de Datos Geográficos</a></h3>
										<div>
											<div id = "sub_accordion2">
												<h3><a href="#">Departamentos</a></h3>
												<div>
													
												</div>
												<h3><a href="#">Municipios</a></h3>
												<div>
													
												</div>
												<h3><a href="#">Centros Educativos</a></h3>
												<div>
													
												</div>							
											</div>									
										</div>
									</div>
						</div>
						<div id="tabs-3">
							<div>
								Generacion de Reportes Aqui
							</div>
						</div>
					</div>
				</section>
				<!--<section id="aside">
				    <div id="banner">
				    	<img src="{{STATIC_URL}}resources_imgs/banner.png" height="600" width="300"/>
				    </div>
				</section>-->
			</div>
	</div>
{%endblock%}