{%extends 'Main.html'%}
{%block header%}
{%endblock%}
{%block includes%}

	<script type="text/javascript" src="{{STATIC_URL}}jquery/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}jquery/jquery-ui-1.8.16.custom.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery-ui-1.8.16.custom.css" />

{%endblock%}
{%block contenido%}
	
	<script>
		$(document).ready(function() {	
			$("#tabs").tabs();
		});
	</script>
	
	<div id="tabs" >
		<ul>
			<li><a href="#tab1">Ingresar</a></li>
		</ul>
		<div id="tab1">
			<form action={%url url_login%} method='post' class="form-horizontal">{% csrf_token %}
				{%if err%}
					<div class="alert alert-error">
						<h6>{{err}}</h6>
					</div>
				{%endif%}
                <div class="control-group">
                    <label class="control-label" for="inputUser">Usuario:</label>
                    <div class="controls">
                      <input type="text" id="inputUser" placeholder="Ingrese usuario" name="username" value="{{ username}}">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="inputPassword">Contraseña:</label>
                    <div class="controls">
                      <input type="password" id="inputPassword" placeholder="Ingrese contraseña" name="password">
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="controls">
                      <button type="submit" class="btn">Ingresar</button>
                    </div>
                  </div>
			</form>
		</div>
	</div>
	
{%endblock%}
