{%extends 'Main.html'%}
{%block includes%}
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}resources_css/styles_login.css" />
{%endblock%}
{%block contenido%}
	<div id="content">
	    <section id="aside">
		    <div id="banner">
		    	<img src="{{STATIC_URL}}resources_imgs/banner.png" height="600" width="300"/>
		    </div>
		</section>
		<section id="mainContent">
			<fieldset id="login">
			<legend id="lg">Ingresar</lengend>
				<form  method='post' action={%url url_autenticar%}>{% csrf_token %}
					<table>
						<br>
			  			<tr>
			  				<td><label>Usuario:</label></td>
			  				<td><input name="user_tbx" ></td>
			  			</tr>
			  			<tr>
				  			<td><label>Contraseña:</label></td>
				  			<td><input type="password" name="pass_tbx" ></td>
			  			</tr>
			  			<tr><td><input type="submit" value="Autenticar"></td></tr>
		  			</table>
				</form>
			</fieldset>
		</section>
	</div>
    
{%endblock%}