<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8"0>
	<script type="text/javascript" src="{{STATIC_URL}}static_resources/jquery/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}static_resources/jquery/jquery-ui-1.8.16.custom.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}resources_css/jquery-ui-1.8.16.custom.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}resources_css/styles_encuesta.css" />
    
    <title>Unidad de Transparencia</title>

</head>
<body>
    <header>
        <strong><a href='{%url url_home%}'>Home</a></strong>
        {%block header%}
        {%endblock%}
    </header>
    <div>
        {%block contenido%}
        {%endblock%}
    </div>

</body>
</html>