{%extends 'Main.html'%}
{%block header%}
{%endblock%}
{%block includes%}
	<script type="text/javascript" src="{{STATIC_URL}}jquery/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}jquery/jquery-ui-1.8.16.custom.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery-ui-1.8.16.custom.css" />
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/styles_home.css" />
{%endblock%}
{%block contenido%}
{%load customfilters_reportes%}
	<meta charset="utf-8">
	<script type="text/javascript">
	$(document).ready(function() {
	
    $("#field_resultados").attr('hidden', 'hidden');
    $("#field_encuestas").attr('hidden', 'hidden');
    $("#msj_users").attr('hidden', 'hidden');
    $("#msj_encuestas").attr('hidden', 'hidden');
    
    $("#tabs").tabs();
	$("#cbx_tipos").change(function() {
		tipo = $(this).val();
		$("#cbx_usuarios").empty();
		$("#cbx_usuarios").append("<option selected = \'selected\'>Seleccione</option>");							
		$.ajax({
					type:"GET",
					data:
						{
							data:"tipo",
							tipo:tipo,
						},
					url: "{% url url_bringusuarios %}",
					success: function(msg){
								$.each(msg,function(key,val){
									$("#cbx_usuarios").append("<option value="+val.usuario+">"+val.usuario+"</option>");
				});
			}
		});
	});
	$("#cbx_usuarios").change(function() {

		var w = document.form1.cbx_usuario.selectedIndex;
		var usuario = document.form1.cbx_usuario.options[w].text;
		//usuario = $(this).val();
		if(usuario != "Seleccione" && usuario != ""){
	    var otable=document.getElementById("tabla_encuestas"); 
	    while(otable.rows.length>0){ 
	    	otable.deleteRow(otable.rows.length-1); 	
	    	}						
		$.ajax({
					type:"GET",
					data:
						{
							data:"usuario",
							usuario:usuario,
						},
					url: "{% url url_bringencuestas %}",
					success: function(msg){
						$.each(msg,function(key,val){
							var table = document.getElementById("tabla_encuestas");
				            var rowCount = table.rows.length;
				            var row = table.insertRow(rowCount);
				            var cell1 = row.insertCell(0);
				            var p1 = "<strong><a href=\'/transparencia/encuesta/ver/encuesta/"
				            var p2 = val.pk
				            var p3 = "\'> Encuesta "
				            var p4 = '</a></strong><input type = "button" value = \'Despublicar\' onClick = "location.href = \'/transparencia/home/unpublish/encuesta/'
				            var p5 = '\'">'
				            var el1 = p1.concat(p2)
				            var el2 = p3.concat(p2)
				            var el3 = (p4.concat(p2)).concat(p5)
				            var element1 = (el1.concat(el2)).concat(el3)
				            element1.type = "text";
				            cell1.innerHTML = element1;
				            
				});
			}
		});
		}
	});
	
	$("#btn_buscarusers").click(function(){
		document.getElementById("id_tbody").innerHTML = "";
		document.getElementById("id_tbody2").innerHTML = "";
        $('#field_resultados').removeAttr('hidden');
        $("#field_encuestas").attr('hidden', 'hidden');
        $("#msj_encuestas").attr('hidden', 'hidden');
		
		$.ajax({
						type:"GET",
						data:
							{
								data:"users",
								username:$("#tbx_nombusuario").val(),
								tipo:$("#cbx_tipo").val()
							},
						url: "{% url url_bringusers %}",
						success: function(msg){
                        
                        if(msg != ""){
                            $("#msj_users").attr('hidden', 'hidden');
									$.each(msg,function(key,val){
										$("#id_tbody").append("<tr><td>"+val.pk+"</td><td>"+val.name+"</td><td>"+val.usuario+"</td><td><button onclick='MostrarEncuestas("+val.pk+")'; class='btn btn-small btn-inverse' type='button'>Ver Encuestas</button></td></tr>");
					});
                    }
                    else{
                    $('#msj_users').removeAttr('hidden');
                    }
				}
			});
	});
	
		$("#logout_btn").click(function(){
			//location.href = '/transparencia/logout/'; 
			location.href = '{%url url_logout%}'; 
		});
		$("#principal_btn").click(function(){
			//location.href = '/transparencia/home/'; 
			location.href = '{%url url_home%}';
		});

});

function MostrarEncuestas(pk){
	document.getElementById("id_tbody2").innerHTML = "";
    $('#field_encuestas').removeAttr('hidden');
    $("#msj_encuestas").attr('hidden', 'hidden');
		$.ajax({
					type:"GET",
					data:
						{
							data:"usuario",
							usuario:pk,
						},
					url: "{% url url_bringencuestas %}",
					success: function(msg){
                    if(msg != ""){
						$.each(msg,function(key,val){
						
							$("#id_tbody2").append("<tr><td>"+val.user+"</td><td>"+val.pk+"</td><td>"+val.centro+"</td><td>"+val.fecha+"</td><td>"+val.fecha_cre+"</td><td><button onclick= window.open('/transparencia/encuesta/ver/encuesta/"+val.pk+"'); class='btn btn-small btn-inverse' type='button'>Ver Encuesta</button></td><td><button onclick= window.open('/transparencia/home/unpublish/encuesta/"+val.pk+"'); class='btn btn-small btn-inverse' type='button'>Despublicar</button></td></tr>");
							//$("#id_tbody2").append("<tr><td>"+val.pk+"</td><td>"+val.centro+"</td><td>"+val.fecha+"</td><td>"+val.fecha_cre+"</td></tr>");
							
							/*
							var table = document.getElementById("tabla_encuestas");
				            var rowCount = table.rows.length;
				            var row = table.insertRow(rowCount);
				            var cell1 = row.insertCell(0);
				            var p1 = "<strong><a href=\'/transparencia/encuesta/ver/encuesta/"
				            var p2 = val.pk
				            var p3 = "\'> Encuesta "
				            var p4 = '</a></strong><input type = "button" value = \'Despublicar\' onClick = "location.href = \'/transparencia/home/unpublish/encuesta/'
				            var p5 = '\'">'
				            var el1 = p1.concat(p2)
				            var el2 = p3.concat(p2)
				            var el3 = (p4.concat(p2)).concat(p5)
				            var element1 = (el1.concat(el2)).concat(el3)
				            element1.type = "text";
				            cell1.innerHTML = element1;
				            */
				});
                }
                else $('#msj_encuestas').removeAttr('hidden');
			}
		});
	};

	
	
	</script>
	
<div name = "form1">
	<div id="tabs">
		<ul>
			<li><a href="#tabs-1">Administración de Encuestas</a></li>
		</ul>
		<div id="tabs-1">
		<fieldset>
		<legend>Filtro por Usuarios</legend>
			<table>
				<tr>
					<td><label>Tipo de Usuario:</label></td><td><select name="cbx_dep" id="cbx_tipo">
																	<option selected="selected">Todos</option>
																	{%for t in tipos%}
																		<option value="{{t.pk}}"> {{t.nombre}} </option>
																	{%endfor%}
																</select></td>
				</tr>
				<tr>
					<td><label>Usuario:</label></td><td><input type="input" id = "tbx_nombusuario"></td>
					<td><button id="btn_buscarusers" class="btn">Buscar</button></td>
				</tr>
			</table>
		</fieldset>
		<br>
		<fieldset id="field_resultados">
			<legend>Resultados de Búsqueda</legend>
            <div class="alert alert-error" id="msj_users">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <h4>Atención</h4>
                  No se encontraron usuarios
            </div>
				<table id="table_users" class="table table-striped">
					<thead>
						<tr>
							<th>Código</th><th>Nombre</th><th>Usuario</th>
						</tr>
					</thead>
					<tbody id="id_tbody">
                        
					</tbody>
				</table>
			</fieldset>
		<br>
		<fieldset id="field_encuestas">
		<legend>Encuestas</legend>
			<input type="hidden" name="msg" value="despub" id ="">
            <div class="alert alert-error" id="msj_encuestas">
                          <button type="button" class="close" data-dismiss="alert">&times;</button>
                          <h4>Atención</h4>
                          El usuario no tiene encuestas publicadas
             </div>
			<table id="table_encuestas" class="table table-striped">
				<thead>
						<tr>
							<th>Usuario</th><th>Código Encuesta</th><th>Centro Educativo</th><th>Fecha</th><th>Fecha Creación</th>
						</tr>
					</thead>
					<tbody id="id_tbody2">
                        
					</tbody>
			</table>
		</fieldset>
		</div>
	</div>
</div>
{%endblock%}
		