{%extends 'Main.html'%}
{%block header%}

{%endblock%}
{%block contenido%}

	<style>
		feedback { font-size: 1.4em; }
		selectable .ui-selecting { background: #FECA40; }
		selectable .ui-selected { background: #F39814; color: white; }
		selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
		selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }
	</style>
	<script>
		$(document).ready(function() {
			$( "#selectable" ).selectable();
		});
	</script>

	<div id="content">
		<div id="lista_usuarios">
			<fieldset>
			<legend>Usuarios</legend>
				<ol id="selectable">
					{%for u in usuarios%}
						<li class="ui-widget-content" id="{{u.codigo}}">{{u.usuario}}</li>
					{%endfor%}
				</ol>	
			</fieldset>
		</div>
		<div id="datos_usuarios">
			<fieldset>
			<legend>Datos</legend>
				<form action='{url url_saveusuario}' method="post">{% csrf_token %}
					{{ form.as_p }}
					<input type="submit" value="Submit" />
				</form>
			</fieldset>
		</div>
	</div>

{%endblock%}